@import './base.css';
@import 'tailwindcss';

a {
    transition: 0.4s;
}

@font-face {
    font-family: 'DM-Sans';
    display: swap;
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
}

@theme {
    --font-sans: DM-Sans, sans-serif;
    --font-serif: Calistoga;
}
